<p><span class="description">id: </span>{{id}}</p>
<p><span class="description">Customer: </span>{{base.title}} {{base.firstName}} {{base.lastName}}</p>
<p><span class="description">Date of Birth: </span>{{$toLocalDate base.dob}}</p>
<p><span class="description">Address: </span>{{base.address.street}}, {{base.address.province}}</p>
<p><span class="description">Email: </span>{{base.contacts.email}}</p>
<p><span class="description">picture: </span></p>
<p>
    {{#if base.pictureUrl}}
        <img src="{{base.pictureUrl}}" alt="" class="img">
    {{else}}
        <img src="./images/no-image-available.jpg" alt="" class="img">
    {{/if}}

</p>
<p><span class="description">registration date: </span> {{$toLocalDate registeredAt}}</p>
<p><span class="description">updated at: </span> {{$toLocalDate updatedAt}}</p>
